<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350071662681-6uqu59qffe3vdhmv7csonmdtaim1lbvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350071662681-6uqu59qffe3vdhmv7csonmdtaim1lbvi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>350071662681-4vf95eoka6geif0b9rhmg9npprvmu8sp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEN_KbIfH7GrRDMmU8I9iTsbAnA_oSD3U</string>
	<key>GCM_SENDER_ID</key>
	<string>350071662681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackgrape</string>
	<key>PROJECT_ID</key>
	<string>blackgrape-dd55e</string>
	<key>STORAGE_BUCKET</key>
	<string>blackgrape-dd55e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350071662681:ios:39954f79f68e6f02</string>
	<key>DATABASE_URL</key>
	<string>https://blackgrape-dd55e.firebaseio.com</string>
</dict>
</plist>